---
import Card from "../components/cards/Card.astro";
import Code from "./icons/Code.astro";

const proyectos = [
  {
    tittle: "Suministros - Tienda web",
    text: "Suministros es una tienda web que incluye funcionalidades completas de un e-comerce. La plataforma brinda una experiencia de usuarios optimizada para la navegacion y compra de productos.",
    url: "https://suministros-six.vercel.app/",
    urlCodigo: "https://github.com/cdomdev/suministros-app",
    img: "/images/sumi.png",
  },
  {
    tittle: "Panel de administracion",
    text: "Este proyecto centraliza las funciones esenciales de administración en una única interfaz. Diseñado para optimizar la eficiencia, permite a los administradores gestionar usuarios, monitorizar actividades, y supervisar datos en tiempo real. Con un enfoque en la simplicidad y usabilidad, el panel facilita el acceso a información crítica y ofrece herramientas para la toma de decisiones rápida y efectiva en la gestión diaria de la plataforma.",
    url: "https://github.com/cdomdev/Dashboard-administrador",
    urlCodigo: "https://github.com/cdomdev/Dashboard-administrador",
    img: "/images/dashboard.png",
  },
];
---

<div class="flex justify-center items-center">
  <h2
    class="text-2xl md:text-3xl text-black font-bold dark:text-custom-color mb-1">
    Proyectos
  </h2>
  <Code />
</div>
<h3 class="text-base md:text-xl my-4 md:mb-4 px-2 text-center">
  Transformando conceptos en soluciones tecnológicas
</h3>
<div class="overflow-hidden m-auto flex w-full px-5 md:w-vw-custom">
  <div class="flex flex-col whitespace-nowrap m-auto flex-wrap justify-start">
    {
      proyectos.map((proyecto) => (
        <Card
          titulo={proyecto.tittle}
          texto={proyecto.text}
          img={proyecto.img}
          url={proyecto.url}
          urlCodigo={proyecto.urlCodigo}
        />
      ))
    }
  </div>
</div>
